
# HTID:7726418: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:7726418:



# HTID:7727424: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /index.php https://elixirtcc.000webhostapp.com/entrar.php
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:7727424:









# HTID:7880041: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /index.php https://elixirtcc.000webhostapp.com/entrar.php
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:7880041:
