.javabtn{
    padding: 1.5px 6px 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 19.5px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #fe412e;
    transition:.3s;
    float:right;
    outline: none;
}
.javabtn:hover {
    background-color: #fe412e;
    color: white;
}
.javabtn:active {
  background-color: #fe412e;
  transform: translateY(5px);
  color: white;
}

a.tooltip {
    position: relative;
    color: #fe412e;
}

a.tooltip .tooltiptext {
    visibility: hidden;
    
    display: -webkit-inline-table;
	display: -moz-inline-table;
	display: -ms-inline-table;
	display: -o-inline-table;
    display:inline-table;
    
    width: 30vw;
    
    background-color: #fff;
    color: #fe412e;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    border:solid 1px #fe412e;
    font-size:10px;
}

a.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    top:100%;
    font-size:14px;
}


a.tooltip2 .tooltiptext {
    visibility: hidden;
    display:inline-table;
    background-color: #fff;
    color: #fe412e;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right:3vw;
    opacity: 0;
    transition: opacity 0.5s;
    border:solid 1px #fe412e;
    width: 30vw;
}

a.tooltip2:hover .tooltiptext{
    top:110%;
    visibility: visible;
    opacity: 1;
    font-size:13.5px;
}

a.tooltip2 {
    position: relative;
    color: #fe412e;
    
}

li.disabled {
    background: #ccc;
    cursor: default;
}

li.disabled:hover {
    background: #ccc;
    cursor: default;
}

    
    .topobtn:active{
        color:white;
        background-color:#333333;
  transform: translateY(5px);
    transition:.3s;
        
    }.topobtn:hover{
        color:white;
        background-color:#333333;
    transition:.3s;
        
    }
.configbtn{
    padding: 1.5px 6px 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 19.5px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #23c944;
    transition:.3s;
    float:right;
    outline: none;
}
.configbtn:hover {
    background-color: #23c944;
    color: white;
}
.configbtn:active {
  background-color: #23c944;
  transform: translateY(5px);
  color: white;
}
